{% extends 'layout.html.twig' %}

{% block heading %}{% trans %}payment.fail.title{% endtrans %}{% endblock %}

{% block content %}
    <p class="h2">{% trans %}payment.fail.title{% endtrans %}</p>
{% endblock %}
