{% extends 'layout.html.twig' %}

{% block heading %}{% trans %}payment.purchase.title{% endtrans %}{% endblock %}

{% block content %}
    <p class="h2">{{ block('heading') }}</p>

    {{ form(form) }}

    <script></script>
{% endblock %}
