{% for payment in payments %}
    {% for gatewayName, url in payment_purchase_urls(payment) %}
        <p><a href="{{ url }}" class="payment-url -{{ gatewayName }}">Online payment</a></p>
    {% endfor %}
{% endfor %}
