{% extends 'layout.html.twig' %}

{% block heading %}{% trans with {'%orderNumber%': payment.orderNumber} %}payment.success.title{% endtrans %}{% endblock %}

{% block content %}
    <p class="h2">{% trans with {'%orderNumber%': payment.orderNumber} %}payment.success.title{% endtrans %}</p>
{% endblock %}
