{% extends '@DarvinMailer/email/layout.html.twig' %}

{% trans_default_domain 'email' %}

{% block content %}
    {{ content|trans({'%orderNumber%': payment.order.number}, 'email')  }}
    {% if payment.state == constant('Darvin\\PaymentBundle\\DBAL\\Type\\PaymentStateType::PENDING') %}
        {% set urls = darvin_payment_url(payment) %}

        {% if urls|length == 1 %}
            <p><a href="{{ urls|first }}">{% trans %}payment.button.default{% endtrans %}</a></p>
        {% elseif urls|length > 1 %}
            {% for gatewayName, url in urls %}
                <p><a href="{{ url }}">{{ ('payment.gateway.' ~ gatewayName)|trans({}, 'email') }}</a></p>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
