{% extends '@DarvinMailer/email/layout.html.twig' %}

{% block heading %}{{ ('email.payment.public.' ~ status.name ~ '.subject')|trans([], 'email') }}{% endblock %}

{% block content %}
    {% set orderId = order != null ? orderId.id : null %}
    <p>{{ ('email.payment.public.' ~ status.name ~ '.text')|trans(['orderId': orderId], 'email')  }}</p>
{% endblock %}
