{% extends '@DarvinMailer/email/layout.html.twig' %}

{% trans_default_domain 'messages' %}

{% block content %}
    {{ content|trans({'%orderNumber%': payment.order.number})  }}

    {% if payment.state == constant('Darvin\\PaymentBundle\\DBAL\\Type\\PaymentStateType::PENDING') %}

        {% set urls = payment_purchase_urls(payment) %}

        {% if urls is not empty %}
            {% if urls|length == 1 %}
                <p><a href="{{ urls|first }}">{% trans %}email.payment.button.default{% endtrans %}</a></p>
            {% else %}
                {% for gatewayName, url in urls %}
                    <p><a href="{{ url }}">{{ ('payment.gateway.' ~ gatewayName)|trans }}</a></p>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
